html,
body,
.app,
.content,
#root {
  /* max-width: 1280px; */
  margin: 0 ;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track{
  background: #f8f7f300;
}

::-webkit-scrollbar-thumb{
  border: 3px solid #f8f7f3;
  border-radius: 10px;
  background: #7E328B;
}

::-webkit-scrollbar-thumb:hover{
  background: #511079;
}


.agrupacion{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
}
.agrupacion:hover{
  
 
  background: #fff !important; 
  box-shadow: 5px 4px 0px 2px rgba(0, 0, 0, 0.3) !important;
  border-color: #511079 !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  transition: box-shadow 0.7s ease-in !important;
  transition: background, border 0.2s ease-in !important;

}

 