html,
body,
.app,
.content,
#root {
  /* max-width: 1280px; */
  margin: 0 ;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track{
  background: #f8f7f300;
}

::-webkit-scrollbar-thumb{
  border: 3px solid #f8f7f3;
  border-radius: 10px;
  background: #7E328B;
}

::-webkit-scrollbar-thumb:hover{
  background: #511079;
}


.agrupacion{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}
.agrupacion:hover{
  transition: box-shadow 0.8s ease-in-out !important;
  transition: background 0.3s ease-in-out !important;
  background: #F7EBFC !important; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.589) !important;
}

 